{:source-paths ["src"]
 :dependencies [
                [reagent "1.0.0-rc1"]
                [borkdude/sci "0.2.4"]
                [cider/cider-nrepl "0.25.9"]
                [figwheel-sidecar "0.5.20"]
]
 :nrepl {:port 9000}
 :dev-http {8081 "public"}
 :builds {
          :app {
                :target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn cljs_repl.core/main!}}
                :devtools {:http-root   "public" :http-port   3000}}
          }} 
